// header.scss
header {
    @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.3));
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

header .wrapper {
    display: table;
    width: 98%;
    margin: auto;
    margin-top: 20px;
}

header .wrapper .logo-wrapper,
header .wrapper .nav-wrapper,
header .copyright {
    display: table-cell;
}

header .wrapper .logo-wrapper {
    padding-left: 10px;
    width: 70px;
}

header .wrapper .nav-wrapper {
    vertical-align: middle;
    text-align: right;
}

header .logo {
    height: $logo-height;
    width: $logo-width;
    margin-right: 30px;
}

header .copyright {
    vertical-align: middle;
    font-size: 1.8em;
    font-weight: 300;
    font-family: $font-name;
}

header nav {
    font-size: 1em;
}