// site.scss
$font-name: 'Julius Sans One',
'Helvetica',
'Arial',
'Sans-Serif';
$font-title: 'Montserrat',
'Helvetica',
'Arial',
'Sans-Serif';
$font-content: 'Open Sans',
'Helvetica',
'Arial',
'Sans-Serif';
$logo-height: 60px;
$logo-width: 60px;
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: $font-content;
    overflow-x: hidden;
}

#site-wrapper {
    display: table;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

header,
footer,
main .wrapper {
    display: table-row;
    height: 1px;
}

main {
    width: 70%;
    margin: 0 auto;
}

main .wrapper {
    height: auto;
}

nav,
footer {
    ul {
        padding: 0px;
        list-style: none;
        font-weight: bold;
        li {
            display: inline;
            margin-right: 20px;
        }
        li:last-child {
            margin-right: 0px;
        }
    }
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
    color: #999;
    border-bottom: 2px solid rgba(153, 153, 153, 0.6);
}

h1 {
    font-size: 3em;
    font-family: $font-title;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

#hero img {
    width: 100%;
}

.logo-wrapper a,
.logo-wrapper a:hover,
{
    border-bottom: none;
}